<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-button>
    <ion-title>Cabeçalho da aplicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Corpo da aplicação</h2>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>Rodapé da aplicação</ion-title>
  </ion-toolbar>
</ion-footer>
